@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Courier New OS, monospace;
}

body {
  background-color: #F4F4F4;
}

.enter-button {
  /* Default button styling */
  padding: 10px;
  border-radius: 5px;
  background-color: #F4F4F4;
  color: black;

  /* Hover effect styling */
  position: relative;
  transition: all 0.3s ease;
}

.enter-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.enter-button:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav img {
    max-width: 75px;
    height: 75px;
  }
}